<div class="cadre"><form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="Label">Label:</label>
    <input type="text" id="Label" name="Label" formControlName="Label" class="form-control">
  </div>
  <div class="form-group">
    <label for="PriceOOt">Price:</label>
    <input type="number" id="PriceOOt"  name="PriceOOt" formControlName="PriceOOt" class="form-control">
  </div>
  <div class="form-group">
    <label for="BrandId">Select a Brand:</label>
    <select name="BrandId" id="BrandId" formControlName="BrandId" class="form-control">
      <option value="">Select a Brand </option>
      <option *ngFor="let b of brands" [value]="b.id">{{ b.Label }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="DiscountId">Discount Percentage:</label>
    <select name="DiscountId" id="DiscountId" formControlName="DiscountId" class="form-control">
      <option value="">Select a discount percentage</option>
      <option *ngFor="let d of discount" [value]="d.Id">{{ d.Pourcentage }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="SubCategoryId">Select a Subcategory:</label>
    <select name="SubCategoryId" id="SubCategoryId" formControlName="SubCategoryId" class="form-control">
      <option value="">Select a  Subcategory</option>
      <option *ngFor="let s of SubCategorie" [value]="s.Id">{{ s.Label }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="VatId">Vat ID:</label>
    <input type="number" id="VatId" name="VatId" formControlName="VatId" class="form-control">
  </div>
  <div class="form-group">
    <label for="FileName">FileName:</label>
    <input type="text" id="FileName" name="FileName" formControlName="FileName" required class="form-control">
</div>

<div class="form-group">
  <label for="image">Picture:</label>
  <label class="custom-file-upload">
      <span>Choose a File</span>
      <input type="file" (change)="onImageChange($event)" accept="image/*">
  </label>
  <div class="form-group">
    <label for="defaultimage">Default Image:</label>
    <input type="text" id="defaultimage" name="defaultimage" formControlName="defaultimage" class="form-control">
  </div></div>
<button type="submit" class="btn btn-dark">Submit</button>


</form>
</div>
