<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Checkout</h1>
          <p>
            Hath after appear tree great fruitful green dominion moveth sixth
            abundantly image that midst of god day multiply you’ll which
          </p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Checkout
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="page-wrapper">
  <div class="checkout shopping">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 pr-5">
          <div class="billing-details mt-5">
            <h4 class="mb-4">Billing Details</h4>
            <div *ngIf="CheckoutForm">
              <form class=" checkout-form" [formGroup]="CheckoutForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-4">
                      <label for="Receiver">Destinataire</label>
                      <input type="text" id="Receiver" placeholder="" formControlName="Receiver" class="form-control" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Phone">Numéro de téléphone</label>
                      <input type="number" class="form-control" id="Phone" placeholder="" formControlName="Phone" />
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Country">Pays</label>
                      <select class="form-control" id="Country" formControlName="Country">
                        <option value="">Select an Option</option>
                        <option value="Tunisie">Tunisie</option>
                        <option value="France">France</option>
                        <option value="Italie">Italie</option>
                        <option value="Allemagne">Allemagne</option>
                        <option value="Espagne">Espagne</option>
                        <option value="Finlande">Finlande</option>
                        <option value="Inde">Inde</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="City">Cité </label>
                      <input type="text" class="form-control" id="city" placeholder="" formControlName="City" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Address">Address</label>
                      <input type="text" class="form-control" id="Address" placeholder="" formControlName="Address" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Date">Date de Réception</label>
                      <input type="Date" class="form-control" id="Date" placeholder="" formControlName="Date" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Apartment">Appartment</label>
                      <input type="text" class="form-control" id="Apartment" placeholder=""
                        formControlName="Apartement" />
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="PostCode">Postcode</label>
                      <input type="text" class="form-control" id="PostCode" placeholder="" formControlName="PostCode" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="Email">Email address </label>
                      <input type="text" class="form-control" id="Email" placeholder="" formControlName="Email" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-4">
                      <label for="OrderNotes">Order notes (optional)</label>
                      <textarea class="form-control" formControlName="OrderNotes" id="OrderNotes" cols="30" rows="5"
                        placeholder="Notes about order e:g: want to say something"></textarea>
                    </div>
                  </div>
                  Redirect vers la création d'un compte
                  <div class="col-lg-12">
                    <div class="form-check mb-4">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                      <label class="form-check-label" for="exampleCheck1">Create an account?</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>
            </div>
            <button (click)="getCheckoutForListId(Id)" class="btn btn-outline-secondary btn-xs">
              Confirm checkout
            </button>
          </div>
        </div>

        <!-- Order sidebar Summary -->
        <div class="col-md-6 col-lg-4">
          <div class="product-checkout-details mt-5 mt-lg-0">
            <h4 class="mb-4 border-bottom pb-4">Order Summary</h4>

            <!-- Dynamic product list from the cart -->
            <div *ngFor="let product of cart" class="media product-card">
              <p>{{ product.Label }}</p>
              <div class="media-body text-right">
                <p class="h5">x 1</p>
              </div>
            </div>

            <form action="#">
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                  checked />
                <label class="form-check-label" for="exampleRadios1">
                  Direct bank transfer
                </label>

                <div class="alert alert-secondary mt-3" role="alert">
                  Make your payment directly into our bank account. Please use
                  your Order ID as the payment reference. Your order will not be
                  shipped until the funds have cleared in our account.
                </div>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
                <label class="form-check-label" for="exampleRadios2">
                  Check payments
                </label>
              </div>
            </form>
            <a routerLink="/order" class="btn btn-main btn-small">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>