
  /* Ajoutez ces styles dans votre fichier CSS */
.square-card {
  width: 300px; /* Largeur personnalisée */
  height: 300px; /* Hauteur personnalisée */
  /* Vous pouvez ajuster la largeur et la hauteur selon vos besoins */
}
.custom-small-button {
  font-size: 12px; /* Taille de police personnalisée */
  padding: 5px 10px; /* Rembourrage personnalisé pour ajuster la taille */
  /* Autres styles personnalisés au besoin */
}