<!-- parent component template -->
<button (click)="redirectToCart()" style="padding: 5px 10px;" class="btn btn-primary custom-small-button">View Cart Content</button>
<br><br>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <!-- Use ngFor to loop through products and create cards -->
      <div *ngFor="let product of products" class="col-sm-2 mb-1"> <!-- Adjust margin-bottom as needed -->
        <div class="card" style="width: 300px; height: 400px;"> <!-- Adjust width and height as needed -->
          <app-productsingle [product]="product"></app-productsingle>
          <div class="card-body">
            <input type="number" min="0" max="100" name="{{product.Id}}Quantity" class="quantity"> <!-- Smallest size -->
            <button (click)="addToCart(product.Id)" class="btn btn-primary custom-small-button">
              Ajouter au panier
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
