<div class="row">
  <div class="col-sm-12">
    <ul class="list-group list-group-horizontal">
      <li *ngFor="let product of products" class="list-group-item">
        <div class="card mb-3"> <!-- Retiré la classe square-card -->
          <img class="card-img-top" [src]="product.Picture" alt="Card image cap"style="max-width: 200px;max-length:200px;" />
          <div class="card-body">
            <h5 class="card-title">{{ product.Label }}</h5>
            <p class="card-text">Price: {{ product.PriceOOt }}</p>
            <p class="card-text">Quantity: {{ product.Quantity }}</p>
             <button (click)="addToCart(product)" class="btn btn-primary custom-small-button"> <!-- Ajoutez une classe personnalisée pour le style du bouton -->
              Ajouter au panier
            </button>
        </div>
        </div>
      <!--  <div *ngFor="let product of products" class="product-card">
          <h2>{{ product.Label }}</h2>
          <p>Price: {{ product.PriceOOt }}</p>
          <p>Quantity: {{ product.Quantity }}</p>
       
          <img [src]="product.Picture"  />
          <button (click)="addToCart(product)">Ajouter au panier</button>
          <button [routerLink]="'/produit/' + product.Id">Product Details</button>        </div>

    </table>-->
