<form  (ngSubmit)="onSubmit()">
  <div>
    <label for="name">FileName:</label>
    <input type="text" id="name" name="name" [(ngModel)]="formData.FileName" required>
  </div>

  <label for="email">URL:</label>
  <input type="email" id="email" name="email" [(ngModel)]="formData.URL" required>  
  <div>
    <label for="image">Picture:</label>
    <input type="file" id="image" name="image" (change)="onImageChange($event)" accept="Picture/*">
  </div>
  <button type="submit">Submit</button>
</form>

  